.sicbo-game {
    width: 100%;
    height: 100%;
    position: fixed;
    font-family: sicboGameFont;
}

@font-face {
    font-family: 'sicboGameFont';
    src: url('font/Pony.ttf');
}

.btn-choose {
    width: 170px;
    height: 170px;
    font-size: 50px;
    background-color: rgb(82, 108, 238);
    color: #ffffff;
    border: 5px solid rgb(82, 238, 98);
    border-radius: 10px;
}