@import "src/scss/helpers/variables";
@import "src/scss/helpers/mixins";

.jobs {
    padding: 30px 0px;
    background-color: $color-gray-5;

    &-content {
        text-align: center;
        .jobs-item {
            margin: 0 auto;
            text-align: center;
            max-width: 400px;
            
            p {
                display: flex;
                align-items: center;
                height: 100px;
            }

            h3 {
                color: $color-black-light;
                @include setFontSize(20px);
            }
        }
    }
}